* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lora", sans-serif;
}

html {
  scroll-behavior: smooth;
}

.container {
  padding-inline: 16px;
}

.h1 {
  font-size: 3rem;
  line-height: 1.3;
  font-weight: bold;
}

.h2 {
  line-height: 1.3;
  font-weight: 600;
  font-size: 2.6rem;
}

.h1 .span {
  color: #832a41;
}

body {
  background: hsla(0, 0%, 100%, 1);
  font-family: "Lora", sans-serif;
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  box-shadow: 0px 0px 30px 0px hsla(0, 0%, 0%, 0.2);
}

nav {
  display: flex;
  height: 80px;
  width: 100%;
  background: hsla(0, 0%, 100%, 1);
  align-items: center;
  justify-content: space-between;
}

.section {
  padding-block: 12rem;
}

a,
img,
span,
button,
ion-icon {
  display: block;
}

img {
  height: auto;
}

button {
  background: none;
  border: none;
  font: inherit;
  cursor: pointer;
}

.logo {
  padding: 5px 0 0 20px;
  width: 170px;
  height: auto;
}

.navbar-menu {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
}

.navbar-list {
  margin: 0 5px;
}

.navbar-link {
  color: #501624;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  letter-spacing: 1px;
  transition: all 0.3s ease;
}

.navbar-link:hover,
.navbar-link:active {
  color: hsla(31, 17%, 44%, 1);
  background: #fff;
}

nav .menu-btn i {
  color: #501624;
  font-size: 22px;
  cursor: pointer;
  display: none;
}

input[type="checkbox"] {
  display: none;
}

.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: -1;
  width: 100%;
  padding: 0 30px;
  color: #1b1b1b;
}
.content div {
  font-size: 40px;
  font-weight: 700;
}

/*------- Hero -------*/

.hero {
  padding-block-start: 150px;
  padding-bottom: 80px;
}

.hero .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: flex-start;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
  padding-inline: 20px;
}

.hero-content {
  text-align: center;
}

.hero .section-text {
  margin-block: 20px 36px;
}

.hero .btn {
  margin-inline: auto;
  margin-block-end: 12px;
}

.btn {
  background-color: #501624;
  color: white;
  display: flex;
  align-items: center;
  max-width: max-content;
  gap: 12px;
  min-height: 58px;
  padding-inline: 36px;
  border-radius: 32px 6px;
  transition: 0.25s ease;
  text-decoration: none;
}

.btn-inverted {
  background-color: #c76c85;
  color: white;
  display: flex;
  align-items: center;
  max-width: max-content;
  gap: 12px;
  min-height: 58px;
  padding-inline: 36px;
  border-radius: 32px 6px;
  transition: 0.25s ease;
  text-decoration: none;
}

.btn:is(:hover, :focus-visible) {
  background-color: #2e0c14;
}

.btn-inverted:is(:hover, :focus-visible) {
  background-color: #a5445d;
}

.text-center {
  text-align: center;
}

.grid-list {
  display: grid;
  gap: 60px;
}

.has-after {
  position: relative;
  z-index: 1;
}

.has-after::after {
  content: "";
  position: absolute;
}

.has-bg-image {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero .wrapper {
  position: relative;
  display: grid;
  row-gap: 40px;
}

.image-holder {
  margin-left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 0;
}

.image-holder img {
  max-width: 100%;
  height: auto;
  border-top-left-radius: 150px;
  border-bottom-right-radius: 50px;
}

/*------- Nosotros -------*/

.about-section {
  padding: 150px 0;
  background: #501624;
}

.about-details .section-title {
  color: #c76c85;
}

.about-section .section-content {
  color: white;
  display: flex;
  gap: 50px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.about-section .about-image-wrapper .about-image {
  height: 400px;
  width: 400px;
  object-fit: cover;
  border-radius: 50%;
}
.about-section .about-details {
  max-width: 50%;
}
.about-section .about-details .section-title {
  padding: 0;
}
.about-section .about-details .text {
  line-height: 30px;
  margin: 50px 0 30px;
  text-align: center;
  font-size: 1.12rem;
}
.about-section .social-link-list {
  display: flex;
  gap: 25px;
  justify-content: center;
}
.about-section .social-link-list .social-link {
  color: #c76c85;
  font-size: 1.12rem;
  transition: 0.2s ease;
}
.about-section .social-link-list .social-link:hover {
  color: #a5445d;
}

/*------- Servicios -------*/

.service-section {
  padding-bottom: 10px;
}
.card-wrapper {
  max-width: 1100px;
  margin: 0 60px 35px;
  padding: 20px 10px;
  overflow: hidden;
}
.card-list .card-item {
  list-style: none;
}
.card-list .card-item .card-link {
  display: block;
  background: #fff;
  padding: 18px;
  user-select: none;
  border-radius: 12px;
  text-decoration: none;
  border: 2px solid transparent;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.05);
  transition: 0.2s ease;
}
.card-list .card-item .card-link:active {
  cursor: grabbing;
}
.card-list .card-item .card-link:hover {
  border-color: #a5445d;
}
.card-list .card-link .card-image {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
}
.card-list .card-link .badge {
  color: #5372f0;
  width: fit-content;
  padding: 8px 16px;
  font-size: 0.95rem;
  border-radius: 50px;
  font-weight: 500;
  background: #dde4ff;
  margin: 16px 0 18px;
}
.card-list .card-link .badge-asesoria {
  color: #b22485;
  background: #f7dff5;
}
.card-list .card-link .badge-contratos {
  color: #b25a2b;
  background: #ffe3d2;
}
.card-list .card-link .badge-negocios {
  color: #205c20;
  background: #d6f8d6;
}
.card-list .card-link .badge-civil {
  color: #856404;
  background: #fff3cd;
}
.card-list .card-link .card-title {
  color: #000;
  font-size: 1.19rem;
  font-weight: 600;
}
.card-list .card-link .card-button {
  height: 35px;
  width: 35px;
  color: #a5445d;
  margin: 30px 0 5px;
  background: none;
  cursor: pointer;
  border-radius: 50%;
  border: 2px solid #a5445d;
  transform: rotate(-45deg);
  transition: 0.4s ease;
}
.card-list .card-link:hover .card-button {
  color: #fff;
  background: #a5445d;
}
.card-wrapper .swiper-pagination-bullet {
  height: 13px;
  width: 13px;
  opacity: 0.5;
  background: #a5445d;
}
.card-wrapper .swiper-pagination-bullet-active {
  opacity: 1;
}
.card-wrapper .swiper-slide-button {
  color: #a5445d;
  margin-top: -35px;
}

.section-title-services {
  text-align: center;
  padding-top: 100px;
  padding-bottom: 10px;
}

/*------- Footer -------*/
.footer {
  background-color: #501624;
  color: white;
  padding: 0 20px 20px;
  font-family: "Lora", sans-serif;
}

.footer-top {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 40px;
  padding-top: 80px;
  padding-bottom: 40px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  align-items: start;
  justify-items: center;
  text-align: center;
}

.footer .logo-text {
  font-size: 1.9rem;
  font-weight: 700;
  text-decoration: none;
  color: white;
  white-space: normal;
  word-wrap: break-word;
  display: inline-block;
}

.footer-brand .footer-text {
  margin: 20px 0;
  line-height: 1.6;
}

.social-list {
  display: flex;
  gap: 15px;
  margin-top: 10px;
  list-style: none;
  padding: 0;
  justify-content: center;
}

.social-link {
  font-size: 1.6rem;
  color: white;
  transition: color 0.3s ease;
}

.social-link:hover {
  color: #c76c85;
}

.footer-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 12px;
}

.footer-list .footer-list-title {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-list .footer-text {
  margin-bottom: 20px;
  line-height: 1.6;
}

.footer-bottom {
  padding-top: 30px;
  text-align: center;
}

.copyright {
  color: white;
  font-size: 1.2rem;
}

@media (max-width: 1000px) {
  nav {
    padding: 0 40px 0 50px;
  }
}

@media (max-width: 920px) {
  nav .menu-btn i {
    display: block;
  }

  #click:checked ~ .menu-btn i:before {
    content: "\f00d";
  }

  .navbar-menu {
    position: fixed;
    top: 80px;
    left: -100%;
    background: #ffffff;
    height: 100vh;
    width: 100%;
    text-align: center;
    display: block;
    transition: all 0.3s ease;
  }

  #click:checked ~ ul {
    left: 0;
  }

  .navbar-list {
    width: 100%;
    margin: 40px 0;
  }

  .navbar-link {
    width: 100%;
    margin-left: -100%;
    display: block;
    font-size: 20px;
    transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  #click:checked ~ ul li a {
    margin-left: 0px;
  }

  .navbar-link.active,
  .navbar-link:hover {
    background: none;
    color: hsla(31, 17%, 44%, 1);
  }

  .hero .container {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
  }

  .hero-content {
    text-align: center;
  }

  .hero .btn {
    margin-inline: auto;
  }

  .image-holder {
    margin: 0 auto;
    justify-content: center;
  }

  .image-holder img {
    max-width: 80%;
    height: auto;
  }

  .about-section .about-details {
    max-width: 60%;
  }

  .about-section .about-image-wrapper .about-image {
    height: 300px;
    width: 300px;
  }
}

@media (max-width: 480px) {
  .h1 {
    font-size: 2.2rem;
    line-height: 1.2;
  }

  .hero .section-text {
    font-size: 0.95rem;
  }

  .image-holder img {
    max-width: 90%;
  }
  .about-section .about-image-wrapper .about-image {
    height: 200px;
    width: 200px;
  }

  .about-section .about-details .text {
    font-size: 0.95rem;
    line-height: 24px;
  }
}
